body{
    margin:0px;
}
.navbar{
    display: flex;
    align-items: center;
    background-color: rgb(37, 43, 66);
    width: 100%;
    height:58px;
}
.navbar2{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 58px;
}
#input_group {
    display: flex;
    align-items: center;
    background-color: #F9F9F9;
    border-radius: 5px;
}
#input_group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
}
#input_group button{
    background-color: #23a6f0;
    border:none;
    padding: 0px 0.5rem;
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 72px;
    height: 28px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}
footer .rodape{
    display: flex;
}
footer .rodape h5{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 115px;
    height: 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #252B42;
}
footer .rodape ul{
    width: 25%;
}
.rodape li{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    width: 142px;
    height: 24px;
    margin: 0;
    list-style: none;
    padding: 0;
    color:#737373;
    border: none;
    text-decoration: none;
    cursor: pointer;
    
}
footer{
    background-color: #FFFFFF;
}
.navi-container ul{
    display: flex;
    justify-content: space-between;
}
.navi-container{
    width:100%;
    flex-grow: 1;
}
.button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    width: 118px;
    height: 22px;
    color:black;
    border: none;
    cursor: pointer;
}
#top{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    width: 260px;
    height: 30px;
    color: #FFFFFF;
    
}

.capa-btn-container {
    width: 100%;
    height: 100%;
    display:flex;
    align-items:center;
}

.capa {
    position: relative;
    width: 1292px;
    height: 619px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background: linear-gradient(45deg, #96E9FB, #ABECD6);
}

.montserrat  {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.capa-iten
{
    margin: 40px 0px 40px 0px;
}
.btn-capa {
    font-weight: 700; 
    font-size: 24px; 
    padding: 15px 40px 15px 40px; 
    border-radius: 5px; 
    background-color: #23A6F0; 
    color: #ffffff;
}
.capa img {
    position: absolute;
    right: -70px;
}

#featured{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    line-height: 30px;
    width: 191px;
    height: 30px;
    font-weight: 400;
    color: #737373;
    text-align: center;
}
#register{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    width: 119px;
    height: 24px;
    font-weight: 700;
    color: #23a6f0;
    word-spacing: 4px;
}
#logo{
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
 font-weight: 700;
 font-size: 24px;
 width: 108px;
 height: 32;
 line-height: 32px;
 color: #252B42;
}
.navi-item{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow:hidden;
    display: flex;
    justify-content: space-between;
}
.icons a{
    text-decoration:none;
    margin-right: 80px;
}
.options li{
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    flex-grow: 1;
}
.icons{
    text-align: center;
}
.options
{
    display: flex;
    color: #737373;
    font-weight: 700;
    font-size: 14px;
    width: 58px;
    height:24px;
    line-height: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar2 ul{
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    justify-content: space-between;
}
.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
    color:inherit;
}
.navbar a{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    padding: 24px;
    line-height: 24px;
    width: 312px;
    height:24;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.week{
    display: grid;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    height: 630px;
    width: 1135px;
    height: 572px;
    grid-gap: 10px;
}
button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.explore-button {
    border: rgba(255, 255, 255, 1) 1px solid;
    padding: 15px 40px 15px 40px;
    border-radius: 5px;
    font-weight: 700;
    background-color: none;
    background: none;
    color: white;
}

.troco-azul {
    display: flex;
    align-items: center;
    position: absolute;
    background-color: #2D8BC0BF;
    bottom: 0px;
    width: 80%;
    height: 35%;
    min-height: 180px;
}
.rodape a:hover{
    background-color: black;
}
.navbar a:hover{
    background-color: rgb(0, 0, 2);
}
.navbar2 li{
    float: left;
}
.navbar li{
    float: left;
}
.icons{
    text-align: center;
}